html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nanum Gothic', sans-serif;
  /* background-color: #fffdfa; */
  color:white;
  background-color: #474787;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
